<div class="content-header">
    <div class="content-wrapper chapter-header">
        <h2 class="story-title"><a href="/myworks/<%= story.slug %>"><%= story.title %></a></h2>
        <div class="chapter-story-image">
            <img src= <%= (story.image.url) ? story.thumbnail : '/assets/default_cover.jpg' %> alt="cover image">
        </div>
    </div>
</div>
<div class="content-wrapper content-body">
    <form class="myworks-chapter-form" action="/myworks/<%= story.slug %>/chapters" method="POST">
        <%- include("_form_fields") %>
        <button class="btn-blue-bg" type="submit">Add Chapter</button> 
    </form>
</div>