<h1>Browse Stories</h1>
<% for (const story of stories) { %>
    <div>
        <h2><%= story.title %></h2>
        <p><%= story.synopsis %></p>
        <a href="/stories/<%= story.id %>">View</a>
        <a href="/stories/<%= story.id %>/edit">Edit</a>
        <form action="/stories/<%= story.id%>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>    
<% } %> 