<div class="content-header">
    <div class="content-wrapper page-content-header">
        <h2>Story Details</h2>
        <a href="/stories">Back</a>
    </div>
</div>

<div class="content-wrapper">
    <div class="story-title">
        <h2><%= story.title %></h2>
    </div>
    <div class="story-image">
        <img src= <%= (story.image.url) ? story.thumbnail : '/assets/default_cover.jpg' %> alt="cover image">
    </div>
    <p class="story-desc">
        <%= story.synopsis %>
    </p>
    <div class="story-chapter-list">
        <h3 class="story-chapter-list-title">Chapter List</h3>
        <ul class="chapter-list">
            <% for (let i = 0; i != story.chapters.length; ++i) { %>
                <% const chapter = story.chapters[i]; %>
                <li class="chapter-list-item">
                    <a href="/stories/<%= story.slug %>/chapters/<%= i %>">
                        <%= chapter.title %>
                    </a>
                </li>    
            <% } %> 
        </ul>
    </div>

    <form action="/stories/<%= story.slug %>/reviews" method="POST" class="review-form">
        <%- include('./reviews/_form_fields') %>
        <button class="btn-blue-bg" type="submit">Create</button>
    </form>
</div>