<div class="content-header">
    <div class="content-wrapper page-content-header">
        <h2>Story Details</h2>
        <a href="/stories">Back</a>
    </div>
</div>

<div class="content-wrapper content-body">
    <div class="story-title">
        <h2><%= story.title %></h2>
    </div>
    <div class="story-image">
        <img src= <%= (story.image.url) ? story.thumbnail : '/assets/default_cover.jpg' %> alt="cover image">
    </div>
    <div class="story-data">
        <% const sumRating = reviews.reduce((prev, curr) => prev + curr.rating, 0); %>
        <% const storyRating = (reviews.length) ? (sumRating / reviews.length).toFixed(1) : 0%> 
        <p class="story-data-item">Rating: <%= storyRating %> <span class="story-data-review-num">(<%= reviews.length %> ratings)</span></p>
        <p class="story-data-item">Author: <%= story.author.username %></p>
    </div>
    <p class="story-desc">
        <%= story.synopsis %>
    </p>

    <div class="story-chapter-list">
        <h3 class="story-chapter-list-title">Chapter List</h3>
        <ul class="chapter-list">
            <% for (let i = 0; i != story.chapters.length; ++i) { %>
                <% const chapter = story.chapters[i]; %>
                <li class="chapter-list-item">
                    <a href="/stories/<%= story.slug %>/chapters/<%= i %>">
                        <%= chapter.title %>
                    </a>
                </li>    
            <% } %> 
        </ul>
    </div>

    <% if (!currentUser) { %> 
        <div class="review-form">
            <h3 class="review-form-heading">
                <i class="fa-solid fa-pencil"></i> <a href="/auth/login">Login to write a review</a>                
            </h3>
        </div>
    <% } else { %> 
        <form action="/stories/<%= story.slug %>/reviews<%= (currentUser.hasReview) ? `/${review.id}?_method=PUT` : '' %>" method="POST" class="review-form">
            <h3 class="review-form-heading">
                <i class="fa-solid fa-pencil"></i> <%= (currentUser.hasReview) ? 'Edit your review' : 'Write a review' %> 
            </h3>
            <%- include('./reviews/_form_fields') %>
            <button class="btn-blue-bg" type="submit">Save</button>
            <% if (currentUser.hasReview) { %>
                <button type="submit" class="btn-red-bg" form="delete-review">Delete</button>
            <% } %> 
        </form>
        <% if (currentUser.hasReview) { %>
            <form action="/stories/<%=story.slug%>/reviews/<%=review.id%>?_method=DELETE" method="POST" id="delete-review"></form>
        <% } %> 

    <% } %> 
    
    <% for (const review of reviews) { %> 
        <div class="review">
            <h4><%= review.author.username %></h4>
            <div class="review-container">
                <h4 class="review-score">Rating: <%= review.rating %></h4>
                <p class="review-body">
                    <%= review.review %>
                </p>
            </div>
        </div>
    <% } %> 
</div>