<h2><%= story.title %></h2>
<p>Created At: <%= story.createdAt %>, Updated: <%= story.lastModified %></p>
<% if (story.image.url) { %>
    <img src="<%= story.thumbnail %>" alt="cover image">
<% } %> 
<p><%= story.synopsis %></p>
<a href="/stories">Back</a>

<h2>Chapters</h2>
<% for (let i = 0; i != story.chapters.length; ++i) { %>
    <% const chapter = story.chapters[i]; %>
    <div>
        <p><a href="/stories/<%= story.slug %>/chapter/<%= i %>"><%= chapter.title %></a></p>
    </div>    
<% } %> 