<div class="content-header">
    <div class="content-wrapper page-content-header">
        <h2>My Works / Edit </h2>
        <a href="/myworks">Back</a>
    </div>
</div>
<div class="myworks-tabs content-wrapper">
    <ul class="tab-list">
        <li class="tab-item active" id="story-details"><a>Details</a></li>
        <li class="tab-item" id="story-glossary"><a>Glossary</a></li>
    </ul>
</div>

<div class="content-wrapper myworks-story-details myworks-tabs-page active">
    <div class="myworks-story-title">
        <h2><%= story.title %></h2>
    </div>
    <form class="myworks-story-form" action="/myworks/<%= story.slug %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <%- include("_form_fields") %>     
        <button class="btn-blue-bg" type="submit">Save</button>
    </form>
</div>


<div class="content-wrapper myworks-story-glossary myworks-tabs-page">
    <div class="chapter-list-header">
        <a href="/myworks/<%= story.slug %>/chapters/new" class="btn-blue-bg"><i class="fa-solid fa-plus"></i>  Add Chapter</a>
    </div>
    <ul class="chapter-list">
    <% for (let i = 0; i != story.chapters.length; ++i) { %>
        <% const chapter = story.chapters[i]; %> 
        <li class="chapter-list-item">
            <a href="/myworks/<%= story.slug %>/chapters/<%= i %>"><%= chapter.title %></a>
            <form action="/myworks/<%= story.slug %>/chapters/<%= i %>?_method=DELETE" method="POST">
                <button class="btn-red-border" type="submit">Delete</button>
            </form>
        </li>
    <% } %> 
    </ul>
</div>