<div class="content-header">
    <div class="content-wrapper">
        <div class="myworks-header">
            <h2>My Works / Edit </h2>
            <a href="/myworks">Back</a>
        </div>
    </div>
</div>
<div class="myworks-edit-tabs content-wrapper">
    <ul class="tab-list">
        <li class="tab-item active" id="story-edit"><a>Details</a></li>
        <li class="tab-item" id="chapter-edit"><a>Glossary</a></li>
    </ul>
</div>

<div class="content-wrapper myworks-story-edit myworks-tab-page active">
    <div class="myworks-edit-title">
        <h2><%= story.title %></h2>
    </div>
    <form class="myworks-edit-form" action="/myworks/<%= story.slug %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <%- include("_form_fields") %>     
        <button type="submit">Save</button>
    </form>
</div>


<div class="content-wrapper myworks-chapter-edit myworks-tab-page">
    <ul class="chapter-list">
    <% for (let i = 0; i != story.chapters.length; ++i) { %>
        <% const chapter = story.chapters[i]; %> 
        <li class="chapter-list-item"> <a href="/myworks/<%= story.slug %>/chapters/<%= i %>"><%= chapter.title %></a></li>
    <% } %> 
    </ul>
</div>