<h1>Edit Story</h1>
<div>
    <h2>Story Details</h2>
    <% if (story.image.url) { %>
        <img src="<%= story.thumbnail %>" alt="cover image">
        <form action="/myworks/<%= story.slug %>/image?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    <% } %> 
    <form action="/myworks/<%= story.slug %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <%- include("_form_fields") %>     
        <button type="submit">Save</button>
    </form>
</div>

<div>
    <h2>Table of Contents</h2>
    <a href="/myworks/<%= story.slug %>/chapters/new">Add Chapter</a>
    
    <% for (let i = 0; i != story.chapters.length; ++i) { %>
        <% const chapter = story.chapters[i]; %> 
        <div>
            <p><%= chapter.title %><p>
            <a href="/myworks/<%= story.slug %>/chapters/<%= i %>">Edit</a>
            <form action="/myworks/<%= story.slug %>/chapters/<%= i %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
    <% } %> 
</div>