<div class="content-header">
        <div class="content-wrapper page-content-header">
            <h2>My Works</h2>
            <a href="/myworks/new" class="btn-blue-bg">Add Story</a>
        </div>
</div>
<div class="content-wrapper content-body">
<% for (story of stories) { %>
    <div class="story-card">
        <div class="story-card-title text-center">
            <a href="/myworks/<%= story.slug %>"><%= story.title %></a>
        </div>
        <div class="story-card-img">
            <img src= <%= (story.image.url) ? story.thumbnail : '/assets/default_cover.jpg' %> alt="cover image">
        </div>
        <div class="story-card-body">
            <div class="story-card-myworks-btns">
                <a href="/myworks/<%= story.slug %>/chapters/new" class="btn-blue-border">
                    <i class="fa-solid fa-plus"></i>
                    Chapter
                </a>
                <a href="/myworks/<%= story.slug %>" class="btn-blue-border">
                    <i class="fa-solid fa-pencil"></i>
                    Edit
                </a>
                <form action="/myworks/<%= story.slug%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn-red-border">
                        <i class="fa-solid fa-trash-can"></i>
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
<% } %> 
</div>